@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900|Open+Sans:300,400,700,800&display=swap&subset=chinese-traditional");
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Zilap";
  src: url("Zilap_Orion_Urban_Personal_Use.eot?") format("eot"), url("/fonts/Zilap_Orion_Urban_Personal_Use.woff") format("woff"), url("/fonts/Zilap_Orion_Urban_Personal_Use.ttf") format("truetype"), url("Zilap_Orion_Urban_Personal_Use.svg#ZilapOrionPersonalUse-Urban") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Open Sans";
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: #1e150b;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

a,
a:active,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Open Sans";
  color: #4c3e31;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 14px;
  height: 100%;
  margin: 0 auto;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.flex-wrapper.just-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-wrapper.just-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-wrapper.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-wrapper.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.delay-1500 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.delay-2500 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.section {
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  position: relative;
  padding: 0 14px;
  overflow: hidden;
}

.section-index {
  max-width: 100%;
}

.section-about {
  max-width: 1366px;
  margin: 0 auto;
}

.animated {
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* Navbar */
nav {
  background: none;
  color: #1e150b;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: absolute;
  z-index: 100;
  height: 100px;
}

nav .brand-logo {
  font-family: "Zilap";
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 100px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav ul a {
  color: #1e150b;
  font-weight: 500;
  line-height: 32px;
}

nav ul li {
  margin-left: 14px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  color: #1e150b;
}

/* sidenav */
.sidenav li a {
  font-weight: 500;
  color: #1e150b;
}

/* main-section */
.zq-description,
.zq-pic,
.zq-more {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  position: relative;
}

.zq-pic img {
  position: absolute;
  z-index: 10;
  width: auto;
  min-height: 650px;
  top: 0px;
}

.bg-title {
  position: absolute;
  width: 100%;
  max-width: calc(1366px - 28px);
}

.zq-d-content,
.zq-more {
  position: absolute;
  line-height: 32px;
  padding-top: 14px;
  cursor: default;
  font-family: "Open Sans";
  font-weight: 500;
}

.preload-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #4c3e31;
  letter-spacing: 5px;
}

.preload-section img {
  width: 100px;
  height: 100px;
}

/* ABOUT */
.clip-work-part,
.about-description-part {
  height: 100%;
  width: 100%;
}

.clip-work-part {
  padding-top: 124px;
}

.about-clip-a,
.about-clip-b,
.about-clip-c,
.about-clip-d {
  height: 20%;
  margin-bottom: 14px;
}

.about-clip-a {
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
}

.about-clip-b {
  -webkit-clip-path: polygon(0 0%, 89% 0%, 80% 100%, 0 100%);
          clip-path: polygon(0 0%, 89% 0%, 80% 100%, 0 100%);
}

.about-clip-c {
  -webkit-clip-path: polygon(0 0%, 79% 0%, 70% 100%, 0 100%);
          clip-path: polygon(0 0%, 79% 0%, 70% 100%, 0 100%);
}

.about-clip-d {
  -webkit-clip-path: polygon(0 0%, 69% 0%, 60% 100%, 0 100%);
          clip-path: polygon(0 0%, 69% 0%, 60% 100%, 0 100%);
  margin-bottom: 0px;
}

.pic-a,
.pic-b,
.pic-c,
.pic-d {
  height: 100%;
  width: 100%;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  position: relative;
}

.pic-a {
  background-image: url(/img/clip/001.jpg);
}

.pic-b {
  background-image: url(/img/clip/005.jpg);
}

.pic-c {
  background-image: url(/img/clip/003.png);
}

.pic-d {
  background-image: url(/img/clip/006.jpg);
}

.mask {
  color: #fff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0 0px 6px rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mask:hover {
  background: rgba(0, 0, 0, 0);
}

.mask:hover + .pic-a,
.mask:hover + .pic-b,
.mask:hover + .pic-c,
.mask:hover + .pic-d {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.about-description-part {
  color: #1e150b;
  font-size: 16px;
  font-family: "Noto Sans TC";
  font-weight: 300;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14px;
}

/* RWD */
@media (max-width: 992px) {
  nav {
    height: 64px;
  }
  nav .brand-logo {
    line-height: 64px;
  }
  .bg-title {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */